@charset "UTF-8"

html,body{
    margin:0;
    padding:0;
    overflow:auto;
    width:100%;
    height:100%;
    }
  
  body{
    background: rgb(223, 207, 207);
    overflow-x: hidden; 
    
  }


.titu{
font-size: 55px;
font-family: 'Otomanopee One', sans-serif;
text-align: center;
color:rgb(2, 2, 19);
background-color: rgb(15, 182, 146);
background: radial-gradient(circle, rgba(44, 189, 181, 0.925) 0%, rgb(235, 128, 190) 100%);

}

footer {
position: absolute;
margin-left:40%;
text-align: center;
}

.logo{
    max-width: 150px;
    max-height: 100px;
    position: relative;
    left: 20px;
    top: 15px;
    margin: 15px;
}
.navegacao{
    position: absolute;
    right: 50px;
    top: 50px;
    color:teal;
    font-size: 25px;
    margin: 15px;
}

hr{
    border: 5px solid blueviolet;
}

.princ{
    height:400px;
    width:550px;
    text-align:left;
    float: left;
  
}

.princ-2{
    height:400px;
    width:550px;
    text-align:right;
    float: right;

}

.text{
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Great Vibes', cursive;
    margin: 10px;
    padding: 10px;

}

.text-2{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Great Vibes', cursive;
    margin: 10px;
    padding: 10px;

}
.text-1{
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    color: rgb(19, 189, 42);
    font-family: 'Dancing Script', cursive;
    margin: 10px;
    padding: 10px;
    

}

.titu-curi{
    font-family: 'Caveat', cursive;
    font-size:12px;
    text-align: center;
    color: darkgreen;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: bold;
}
