@charset "UTF-8

html,body{
  margin:0;
  padding:0;
  overflow:auto;
  width:100%;
  height:100%;
  }

body{
  background: rgb(184, 206, 197);
  overflow-x: hidden; 
  
}

.reino, .content-inseto {
  color: rgb(75, 43, 69);
  border-radius: 8px;
  text-align: justify;
  padding: 75px;
  font-size:30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}


.titulo{
  color:rgb(0, 2, 3);
  background: linear-gradient(0deg, rgb(217, 235, 136) 0%, rgb(36, 175, 175) 100%);
  font-size: 75px;
  text-align: center
  
}

.curiosidade {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:darkred;
  text-align: center;
  font-size: 75px;
}
.caixa-curiosidades{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 40px;
  text-align: center;
  font-weight: bold; 
}

.curiosidade-1{
  color:darkcyan;
}

.curiosidade-2{
  color:darksalmon;
}

.curiosidade-3{
  color:darkseagreen;
}

.curiosidade-4{
  color:rgb(207, 120, 21);
}

.titulo-inseto{
  color:rgb(196, 111, 13);
  background: linear-gradient(0deg, rgb(217, 235, 136) 0%, rgb(36, 175, 175) 100%);
  font-size: 75px;
  text-align: center;
  
  
}

.curiosidade-todos, .titulo-inseto{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 80px;
  font-weight: bold; 

}

footer {
  position: absolute;
  margin-left:42%;
  
}


.logo{
  max-width: 150px;
  max-height: 100px;
  position: relative;
  left: 20px;
  top: 15px;
  margin: 15px;
  text-align:center;
}
.navegacao{
  position: absolute;
  right: 50px;
  top: 50px;
  color:teal;
  font-size: 25px;
  margin: 15px;
}

hr{
  border: 5px solid blueviolet;
}

.nav{
  color: rgb(49, 204, 18);
  font-size: 30px;
  display: block;
  margin-left: 45%;
  margin-right: -55%;
  font-weight: bold; 
  }

.animal{
  width: 650px;
  height: 550px;
  
}


.zoo{
width: 750px; 
display: block;
margin-left: 23%;
margin-right: -10%;
}

IMG.zoo-foto, .inse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 }

 .ove, .gri{
   width: 550px;
   height: 400px;
 }

 