@charset "UTF-8"

html{
height: 100%;
}



body{
background: rgb(228, 215, 215);
margin: 0;
}


.titu{
font-size: 55px;
font-family: 'Otomanopee One', sans-serif;
text-align: center;
color:rgb(2, 2, 19);
background-color: rgb(15, 182, 146);
background: radial-gradient(circle, rgba(44, 189, 181, 0.925) 0%, rgb(235, 128, 190) 100%);

}

footer {
position: absolute;
margin-left:40%;
text-align: center;
}

.logo{
    max-width: 150px;
    max-height: 100px;
    position: relative;
    left: 20px;
    top: 15px;
    margin: 15px;
}
.navegacao{
    position: absolute;
    right: 50px;
    top: 50px;
    color:teal;
    font-size: 25px;
    margin: 15px;
}

hr{
    border: 5px solid blueviolet;
}

.princ{
    height:400px;
    width:550px;
    text-align:left;
    float: left;

}

.princ-2{
    height:400px;
    width:550px;
    text-align:right;
    float: right;

}

.text{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Great Vibes', cursive;

}

.text-2{
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Great Vibes', cursive;

}
.text-1{
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    color: rgb(19, 189, 42);
    font-family: 'Dancing Script', cursive;
    

}

.titu-curi{
    font-family: 'Caveat', cursive;
    font-size:15px;
    text-align: center;
    color: darkgreen;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: bold;
}
